# Logs
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules

# Optional eslint cache
.eslintcache

# Frontend build assets
build/*
!build/assets

# vscode 
.vscode

# proxy server certs
./ssl

# failure screenshots
/screenshots

# Local env files
.env

# JSDoc
docs